Babel
Jinja2
MarkupSafe
Pygments
Sphinx
alabaster
certifi
chardet
colorama
docutils
idna
imagesize
numpy
opencv-python
packaging
pip
pyparsing
pytz
requests
setuptools
six
imutils
snowballstemmer
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
urllib3